$grammaticalblue: #0083b4;
$grammaticalgreen: #06C3A5;
$gr: 0;
$gg: 131;
$gb: 180;

html{
  font-family: "Abel", sans-serif;
  font-weight: 200;
  width: 100%;
  height: 100%; 
}


body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}



#ribbon a
{
  background:$grammaticalgreen;
  color:#fff;
  font-family:arial,sans-serif;
  font-size:1rem;
  font-weight:700;
  line-height:2rem;
  padding:5px 40px;
  position:relative;
  text-align:center;
  text-decoration:none;
  transition:.5s;
}

#ribbon a::before,#ribbon a::after
{
  background:#fff;
  content:"";
  display:block;
  height:1px;
  left:0;
  position:absolute;
  top:1px;
  width:100%;
}

#ribbon a::after
{
  bottom:1px;
  top:auto;
}

#ribbon
{
  display:block;
  height:200px;
  left:0;
  overflow:hidden;
  position:absolute;
  top:0;
  width:200px;
  z-index:9999;
}

#ribbon a
{
  -moz-transform:rotate(-45deg);
  -ms-transform:rotate(-45deg);
  -o-transform:rotate(-45deg);
  -webkit-transform:rotate(-45deg);
  box-shadow:4px 4px 10px rgba(0,0,0,0.3);
  left:-60px;
  position:absolute;
  top:60px;
  transform:rotate(-45deg);
  width:200px;
}

*{margin:0;padding:0;}

.less_padding{
  padding-top: 0% !important;
  @media (max-width: 800px) {
    // mobile
    margin-top:65px !important;
  }

}

.more_padding{
  padding-top: 5% !important;
}

.absolute{
  position: absolute !important;
}

.price{
  cursor: pointer;
}



@keyframes pulse {
  0% {
    -webkit-transform:scale(.8);
    -moz-transform:scale(.8);
    -o-transform:scale(.8);
    -ms-transform:scale(.8);
    transform:scale(.8)
  }
  40% {
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -o-transform:scale(1);
    -ms-transform:scale(1);
    transform:scale(1)
  }
  100% {
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -o-transform:scale(1);
    -ms-transform:scale(1);
    transform:scale(1)
  }
}

@-moz-keyframes pulse {
  0% {
    -webkit-transform:scale(.8);
    -moz-transform:scale(.8);
    -o-transform:scale(.8);
    -ms-transform:scale(.8);
    transform:scale(.8)
  }
  40% {
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -o-transform:scale(1);
    -ms-transform:scale(1);
    transform:scale(1)
  }
  100% {
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -o-transform:scale(1);
    -ms-transform:scale(1);
    transform:scale(1)
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform:scale(.8);
    -moz-transform:scale(.8);
    -o-transform:scale(.8);
    -ms-transform:scale(.8);
    transform:scale(.8)
  }
  40% {
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -o-transform:scale(1);
    -ms-transform:scale(1);
    transform:scale(1)
  }
  100% {
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -o-transform:scale(1);
    -ms-transform:scale(1);
    transform:scale(1)
  }
}

@-ms-keyframes pulse {
  0% {
    -webkit-transform:scale(.8);
    -moz-transform:scale(.8);
    -o-transform:scale(.8);
    -ms-transform:scale(.8);
    transform:scale(.8)
  }
  40% {
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -o-transform:scale(1);
    -ms-transform:scale(1);
    transform:scale(1)
  }
  100% {
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -o-transform:scale(1);
    -ms-transform:scale(1);
    transform:scale(1)
  }
}

@-o-keyframes pulse {
  0% {
    -webkit-transform:scale(.8);
    -moz-transform:scale(.8);
    -o-transform:scale(.8);
    -ms-transform:scale(.8);
    transform:scale(.8)
  }
  40% {
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -o-transform:scale(1);
    -ms-transform:scale(1);
    transform:scale(1)
  }
  100% {
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -o-transform:scale(1);
    -ms-transform:scale(1);
    transform:scale(1)
  }
}



#pulse{
  font-family:'Nunito',sans-serif;

  @media (max-width: 800px) {
    // display: none;
  }
  width: 75px;

  span{
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-animation: pulse 0.9s ease 1.6s infinite alternate-reverse;
    -moz-animation: pulse 0.9s ease 1.6s infinite alternate-reverse;
    -o-animation: pulse 0.9s ease 1.6s infinite alternate-reverse;
    -ms-animation: pulse 0.9s ease 1.6s infinite alternate-reverse;
    animation: pulse 0.9s ease 1.6s infinite alternate-reverse;
    height: 75px;
    width: 75px;
    background: url("../img/logo/white.png") center center no-repeat;
    background-size: 75px;
    background-position: inherit;
    display: block;
    position: absolute;
    margin-left: -3px;
    margin-top: 8px;
  }
  

}

body{
  background:#567;
  font-family:'Abel',sans-serif;
}




input[type="email"],input[type="password"],input[type="text"]{
  width:92%;
  background:#fff;
  margin-bottom:4%;
  border:1px solid #ccc;
  padding:4%;
  font-family:'Nunito',sans-serif;
  font-size:95%;
  color:#555;
}

input[type="submit"]{
  width:100%;
  background:#3399cc;
  border:0;
  padding:4%;
  font-family:'Nunito',sans-serif;
  font-size:100%;
  color:#fff;
  cursor:pointer;
  transition:background .3s;
  -webkit-transition:background .3s;
}

input[type="submit"]:hover{
  background:#2288bb;
}

#login_container{
  position:absolute;
  top:15px;
  right:15px;
  z-index:99999;


  span{
    border:1px solid #fff;
    width:100px;
    background:$grammaticalblue;
    display:block;
    outline-offset: 10px;
    float: right;
    margin:0 auto;
    padding:5px;
    text-align:center;
    text-decoration:none;
    color:#fff;
    cursor:pointer;
    transition:background .3s;
    -webkit-transition:background .3s;
    &:hover{
      background-color: $grammaticalgreen;
    }
  }

  #login{
    display: none;
    margin-top:63px;
    width:400px;
    margin-bottom:2%;
    transition:opacity 0.5s;
    -webkit-transition:opacity 0.5s;


    #triangle{
      width:0;
      border-top:12x solid transparent;
      border-right:12px solid transparent;
      border-bottom:12px solid $grammaticalgreen;
      border-left:12px solid transparent;
      margin-left:82%;
    }
    h1{
      background:$grammaticalgreen;
      font-family: 'Abel';
      padding:17px 0;
      font-size:140%;
      font-weight:300;
      text-align:center;
      color:#fff;
    }
    form{
      background:#f0f0f0;
      padding:6% 4%;

    }
  }

}

.angel{
  -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
}

#signup_form {
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index:999;
  left: 0;
  top: 0;
  display: none;

  .container{
    width: 450px;
    height: 85%;
    max-height: 530px;
    margin-left: auto;
    margin-right: auto;
    background-color:white;
    padding:10px;
    margin-top:20px;
    padding: 20px 20px 20px;
    background: #fff;
    border-radius: 3px;
    
    

    .button{
      background-color: $grammaticalblue;
      padding:5px;
      font-size:14pt;
    }

    .register{
      margin-top: 20px;
      height: 80%;

      h2{
        font-size:18pt;
        text-align: center;
      }

      form{
        padding:20px;
        height:100%;

        input[type="email"],input[type="password"],input[type="text"]{
          height: 25px !important;
          padding-top: 1% !important;
          padding-left: 1% !important;
          padding-bottom: 1% !important;
          padding-right: 0 !important;
          width:98% !important;

        }

        // input[type=text], input[type=password] ,.register select,.register textarea {
        //   margin: 5px;
        //   padding-left: 10px;
        //   height: 34px;
        //   color: #404040;
        //   background: #fff;
        //   border-width: 1px;
        //   border-style: solid;
        //   border-color: #c4c4c4 #d1d1d1 #d4d4d4;
        //   border-radius:3px;
        //   -webkit-border-radius: 5px;
        //   -moz-outline-radius:7px;
        //   -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
        //   -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
        //   box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
        //   margin:10px 0;
        //   width:98%;
        // }
        // input[type=text]:focus, input[type=password]:focus{
        //   border-color:#FFF7F9;
        //   outline-color:rgba($gr, $gg, $gb, 0.7);
        //   outline-offset: 0;
        // }
        .reg_section {
          padding:0;
          margin: 10px 0;
          border-bottom: 1px dotted #eee;

          h3{
            font-size: 14pt;
            margin: 5px 0;
          }
          .terms{
            float: left;
            line-height: 31px;

            label{
              font-size: 12pt;
              color: $grammaticalblue;
              cursor: pointer;
              input{
                width:20px;
                height:20px;
                position: relative;
                bottom: 1px;
                margin-right: 4px;
                vertical-align: middle;
              }
            }
            
          }
        }
        #create_user{
          background-color: $grammaticalblue;
          position:absolute;
          left:50%;
          margin-left:-87px;
          padding: 5px 10px 5px 10px;
          margin-top:30px;
        }

      }
    }

  }


  #terms_of_usage {
    width: 100%;
    height: 100%;
    background-color: blue;
    position: fixed;
    z-index:9999;
    float: left;
    padding:25px;
    left: 0;
    top: 0;
    display: none;
  }

}


#content {
  height: 100%;
  width: 100%;

  @media (max-width: 800px) {
    #toplogo{
      display: none !important;
    }
    h1{
      // font-size: 1.2em !important;
      // line-height: 25px !important;
    }
    h2{
      // font-size: 1.2em !important;
      // line-height: 25px !important;
      line-height: 30px;
      margin-bottom: 5px;
    }
    
    #pages{
      .page{
        .page_content{
          // padding-top: 0 !important;
          padding-left:2% !important;
          padding-right:2% !important;
          // margin-top: -25px !important;
          p {
            font-size: 11pt !important;
          }
          
        }  
      }
    }
    

    .flyout{
      min-width: 85% !important;
      max-width: 90% !important;
      position:absolute !important;
      left: 5% !important;
      margin: 0 auto !important;
      margin-top: 125px !important;
      
    }
    
//   .tip_pages {
//     position: absolute;
//     left:50%;
//     margin-left:-159px;
//     z-index: 999;
//     z-index: 99999;
//     display: none;
// }


  }

  .login {
    margin: 15px;
    color: white;
    background-color: white;
    border-radius: 10%;
    position: fixed;
    top: 200px;
    right: 5px;
    z-index: 99999;
    display: none;
    fieldset{
      input{
        width:100%;
        line-height: 10pt;
        border: 0;
      }

      button{
        border:0;
        color:$grammaticalblue;
        background-color: white;
        width:75px;
        height:20px;
        font-weight:bold;
        margin-top: 10px;

      }
    } 

  }




  strong{
    font-weight: bold;
  }

  p{
    line-height: 20pt;
    font-family: 'Nunito';
    font-size: 16pt;
    font-weight: Lighter;
    color: #000;
    padding: 5px;
  }

  h1{
    font-size: 2em;
    font-family: 'Inder';
    font-weight: 500;
    color: #fff;
    margin-bottom: 25px;
    text-shadow: 1px 1px 2px rgba(0, 150, 150, 0.5);
  }


  h2{
    font-size: 1.4em;
    font-family: 'Nunito';
    text-shadow: 1px 1px 2px rgba(0, 150, 150, 0.5);
  }

  h3{
    font-size: .9em;
    font-family: 'Inder';
    font-weight: 500;
    color: #fff;
    margin-bottom: 15px;
    text-shadow: 1px 1px 2px rgba(0, 150, 150, 0.5);
  }

  a {
    text-decoration: none;
  }



  

  #toplogo{
    top:0px;
    position: absolute;
    left:50%;
    margin-left:-159px;
    z-index: 999;

    .menu_link {
      margin-top:10px;
    }
    a{
      img{
        width:318px;
        height: 70px;  
      }
    }
  }



  #mobile_menu{
    display: none;

    background-color:rgba(255, 255, 255, 0.95);
    float: left;
    width:100%;
    height:100%;
    position:fixed;
    z-index:9999;
    padding:25px;

    .button{
      position: absolute;
      font-size: 24pt;
      padding: 10px;
      right: 65px;
      width: 65px;
      top: 15px;
    }

    ul{
      margin-top:75px;

      li{

        color: $grammaticalblue;
        a:link {color:$grammaticalblue;}  
        a:visited {color:$grammaticalblue;}
        a:hover {color:$grammaticalblue;}  
        a:active {color:$grammaticalblue;}
        
        font-size: 2.5em;
        margin-top: 7%;
      }
    }


  }

  #menu{
    top:90px;
    z-index: 998;
    background-color: #fff;
    position: absolute;
    width:100%;
    height:55px;
    box-sizing: border-box;
    -webkit-box-shadow: 0 3px 10px -2px rgba(0,0,0,0.4);
    box-shadow: 0 3px 10px -2px rgba(0,0,0,0.4);

    #menu_logo{
      display:none;
      position: fixed;
      height: 55px;
      z-index: 999;
      line-height: 55px;
      padding-left:5px;

      .menu_link {
        height:45px;
        margin:5px;
        opacity: 1 !important;
      }
      span{
        // width:45px;
        // height:45px;
        font-size:45px;
        color:$grammaticalblue;
      }
    }

    #navigation{
      display: block;
      line-height: 44px;
      height: 50px;
      
      a{
        color: $grammaticalblue;
        font-weight: 700;
        font-size: 16pt;
        font-weight: normal;
        text-decoration: none;
        float: right;
        margin-right: 50px;
        padding: 5px;
        font-weight: bold;
        -webkit-transition: 0.5s ease;
        transition: 0.5s ease;
      }
      a:hover, a:active {
        color: #66B8E4;
        text-shadow: 1 1 1 -1 rgba(0,0,0,0.4);
        -webkit-transition: 0.5s ease;
        transition: 0.5s ease;
        // border-bottom: 1px solid white;
      }
    }
    #mobile_navigation{
      display: none;
      height: 55px;

      img {
        width:33px;
        height:27px;
        padding-right:10px;
        padding-top:14px;
        padding-bottom:14px;

        float:right;
        
        cursor: pointer;
      }
      
    }
    
    @media (max-width: 800px) {
      #navigation{
        display: none !important;
      }
      #mobile_navigation{
        display: block !important;
      }
      

    }
    
  }

  #moving_icons{
    /* do not put a pixel measured width here! */
    width: 100%;
    margin: 0 auto;
    padding-top:10px;
    text-align:center;

    .icon_move {

      width: 15% !important;

      margin-right:2.5%;
      margin-left:2.5%;
      max-height: 300px; 
      float: left;
      display:inline-block;  

      -o-transition:.5s;
      -ms-transition:.5s;
      -moz-transition:.5s;
      -webkit-transition:.5s;
      transition:.5s;

      a{
        width: 100%;
        height: 100%;
      }

      img{
        -o-transition:.5s;
        -ms-transition:.5s;
        -moz-transition:.5s;
        -webkit-transition:.5s;
        transition:.5s;

        // width: 200px;
        max-width: 100%;
        max-height: 50%;
        z-index: 990;
        &.smaller{
          max-height: 100%;
          // width: 150px !important;
          // max-width: 100% !important;
        }

      }

      h1 {
        font-size: 2em;
        text-align: center;
      }

      div{
        opacity: 0;
      }

      &:hover {
        margin-top: 50px;

        div{
          opacity: 1.0;
        }
        img{
          transform:rotate(10deg);
          -ms-transform:rotate(10deg); /* IE 9 */
          -webkit-transform:rotate(10deg); /* Opera, Chrome, and Safari */
        }
      }

     
    }
  }

  
  .menu-button:hover, .menu-button:active{
    color: $grammaticalblue;
    font-weight: 700;
  }


  #pages{
    width: 100%;
    height: 100%;

    #footer{
      width:100%;
      background-color:#fff;
      height:200px;
      overflow: hidden;
      -moz-box-shadow: 3px 3px 8px #b2b1b1;
      -webkit-box-shadow: 3px 3px 8px #b2b1b1;
      box-shadow: 3px 3px 8px #b2b1b1;
      -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#b2b1b1')";
      filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#b2b1b1');

      

      #footerContent{ 
        height:100%;
        line-height:200px;
        padding-top:25px;
        padding-bottom:25px;

        img{
          max-width: 35%;
          margin: 0 25px 0 25px;
        }
        
      }
    }



    

    .page_blue{
      background-color: $grammaticalblue;/*$grammaticalblue;*/
      h1 {
        color: white;
        text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
      }
      h2 {
        color: white;
      }
      p {
        color: white;
      }
    }
    .page_white{
      background-color: #FFF;
      h1 {
        color: $grammaticalblue;
      }
      h2 {
        color: $grammaticalblue;
      }
      p {
        color: $grammaticalblue;
      }
    }
    .last_page{
      padding-bottom:100px;
    }


    .page{
      z-index:1;
      .pagemarker{
        display: block;
        position: relative;
        top: -55px;
        visibility: hidden;
      }
      .tip_page{
        position: absolute;
        margin-top:-2px;
      }

      width: 100%;
      height: 100%;
      @media (max-width: 800px) {
        height: 125%;
      }

      .front_content{
        padding-top: 125px !important;
        
        h3{
          margin-top:15px;
        }
        .promovideo{
          position: relative;
          padding-bottom: 54.1%;
          padding-top: 2.2%;
          height: 0;
          margin: 0 auto;

          // background-color: yellow;
          @media (max-width: 800px) {
            margin-top:-50px;
            // width: 70%;
          }
          #video{
            width: 853px;
            height: 510px;
            margin: 0 auto;
            display: block;
            max-width: 100%;
            max-height: 100%;
            padding-bottom: 20px;
          }
        }
      }
      
      .page_content{
        margin-top:65px;
        z-index:2;
        color:$grammaticalblue; 
        font-size: 16pt;
        height:100%;
        @media (max-width: 800px) {
          height: 125%;
        }
        min-height: 350px;
        position: absolute;
        padding-top:6%;
        padding-left:6%;
        padding-right:6%;
        left:0;
        right:0;
        margin-left:auto;
        margin-right:auto;
        box-sizing:border-box;
        
        @media (min-width: 800px) {
          // normal
          h1{
            font-size:2.3em !important;
            text-align: center;
            margin-top:-75px;
            margin-bottom:50px;
          }
        }
        @media (max-width: 800px) {
          // mobile
          h1{
            font-size:1.5em !important;
            text-align: center;
            margin-top:-75px;
          }
         
        }
        p {
          text-align: justify;
        }
     
        .column_wrapper{
          width: 100%;
          height: 100%;

          // mobile columns, should be upside down
          @media (min-width: 800px) {
            // normal

            .column{
              //padding:3px;
              height: 100%;
              width:48%;
              float:left;
              line-height: 25px;

              .bubble{
                max-width: 444px;
                max-width: 95%;
                max-height: 402px;
                max-height: 95%;
                
                width: auto;
                height: auto;
                margin: 0 auto;
                display: block;
                position: relative;
              }
              #graphic1{
                max-width: 265px;
              }
              #graphic2{
                max-width: 321px;
              }
            }

          }
          @media (max-width: 800px) {
            // mobile
            .frontpagecolumn{
              height: 38% !important;
            }
            .column{
              //padding:3px;
              height: 48%;
              width:100%;
              line-height: 25px;

              .bubble{
                max-width: 444px;
                max-width: 95%;
                max-height: 402px;
                max-height: 95%;
                
                width: auto;
                height: auto;
                margin: 0 auto;
                display: block;
                position: relative;
              }
            }
          }
          
        }

        .content_box{
          background-color:white;
          border:1px solid #000;
          padding:20px;
          height: 100%;
          width: 100%;
          h1{
            color:#000;  
          }
        }

        // #software_products{
        //   margin-top:50px;
        //   width:auto;
        //   max-width: 100%;

        //   .flyout {
        //     p {
        //       color: white;
        //       text-align: left;
        //     }
        //   }
        //   .absolute {
        //     position: absolute;
        //     margin-top: 150px;
        //     margin-left: -20px;
        //   }
        //   .second {
        //     left: 50%;
        //     margin-left: -200px;
        //   }

        //   .third {
        //     right: 5%; 
        //   }

        //   div{
        //     float:left;
        //     width:30%;
        //     margin-right: 3%;
        //     h3{
        //       color:$grammaticalblue !important;
        //     }
        //     img{
        //       float:left;
        //       margin-right:10px;
        //       margin-top:10px;
        //       width:50px;
        //       max-width: 45%;
        //       &:hover{
        //         // transition-duration: 0.5s;
        //         // opacity: 1;
        //       }
    
        //     }
        //     .unsupported{
        //       opacity: .2;
        //     }
        //   }

        //   .software_class:hover + .flyout{

        //     display: block;

        //   }
        // }
        @media (min-width: 800px) {
          //normal

          .promos{
            height: 125px;

            text-align: justify;
            -ms-text-justify: distribute-all-lines;
            text-justify: distribute-all-lines;

            .promo{
              // cursor: pointer;
              width: 25%;
              max-width: 365px;
              vertical-align: top;
              display: inline-block;
              *display: inline;
              zoom: 1;


              img{
                width:100%;
                height: 100%;
              }
              .software{
                width:25% !important;
                height: 25% !important;
                max-width:200px;
                max-height:200px;
                margin-top:5px;
                margin-right:5px;
              }
              .unsupported{
                opacity: .5;
              }
              &:hover{
                // hmm...
              }
            }
            .five{
              width:18%;

              img{
                margin-top: 15px;
              }
              h2{
                text-align: center;
              }
            }
            .promo:hover + .flyout{
              display: block;
            }
            .second{
              margin-left:32.85%;
            }
            .third{
              margin-left:65.7%; 
            }
            .flyout{
              
              margin-top:30px;
              max-width: 25%;
            }

            .stretch{
              width: 100%;
              display: inline-block;
              font-size: 0;
              line-height: 0
            }

          }

          .icons{
            .flyout{
              padding: 5px !important;
              margin-top: 25px !important;
              max-width: 15% !important;
              p{
                padding: 5px !important;
                color:white !important;
              }
            }
            .second{
              margin-left:18%;
            }
            .third{
              margin-left:36%; 
            }
            .fourth{
              margin-left:54%;  
            }
            .fifth{
              margin-left:72%;  
            }
          }
        }
        @media (max-width: 800px) {
          // mobile

          .promos{
            height: 100%;

            .promo{
              cursor: pointer;
              height: 29%;
              max-height: 454px;
              margin-bottom:15px;
              img{
                margin: 0 auto;
                height: 100%;
                display: block;
              }
              .software{
                height: 25% !important;
                max-width:200px;
                max-height:200px;
                margin-top:5px;
                margin-bottom:5px;
                margin-right: 0;
                margin-left: 0;
                
              }
              .unsupported{
                opacity: .5;
              }
              &:hover{
                // hmm...
              }
            }
            .five{

              padding-bottom:20px;
              height: 13%;
              img{
                margin:0;
              }
              h2{

              }
            }
            
            .promo:hover + .flyout{
              display: block;
            }
            .second{
              margin-top:-60% !important;
            }
            .third{
              margin-top:-30% !important; 
            }
            .flyout{
              p{
                font-size:1.3em !important; 
                line-height: 1.2em !important; 
              }
              
              float: right;
              left:70px !important;
              right: 0% !important;
              width: 70% !important;
              max-width: 70% !important;
              min-width: 70% !important;
              // height: 20% !important;
              margin-top: -200px !important;
              .tip{
                display: none !important;
              }
            }

            .stretch{
              
            }

          }
          .icons{
            .flyout{
              padding: 5px !important;
              margin-top: -85px !important;
              left: 120px !important;
              width: 60% !important;
              max-width: 60% !important;
              min-width: 60% !important;
              p{
                // padding:0 !important;
                color:white !important;
              }
            }
          }
        }
        #slider{
          width: 100%;
          height: 100%;
          overflow: hidden;

          #prev-slide {
            left: 0;
            background-position: 0 -1px;
          }
          #next-slide {
            right: 0;
            background-position: -60px -1px;
          }
          .slide-control {
            z-index:9999;
            width: 60px;
            height: 153px;
            top: 150px;
            position: absolute;
            background: url("../img/icons/circle/navigation.png") 0 0 no-repeat transparent;
            cursor: pointer;
          }
          #slide-items{
            position: relative;
            width: 100%;
            overflow: hidden;

            .slide-item{
              position: relative;
              display: none;
              left:100px;
              left:100%;
              -webkit-transition: .6s ease-in-out left;
              transition: .6s ease-in-out left;

              img{
                display: block;
                margin-left: auto;
                margin-right: auto;
                max-width: 200px;
                margin-bottom:20px;
              }
              h2{
                text-align: center;
                margin-bottom:20px;
              }
              h3{

                background-color:$grammaticalgreen;
                color:white;
                width:50%;
                max-width: 400px;
                height:75px;
                margin:0 auto;
                
                padding: 15px 15px;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
                
                font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
                font-size: 16pt;
                line-height: 20pt;
                text-align: center;
                margin-bottom: 50px;
                

              }
            }
            .active{
              display: block;
              left:0;
              
            }
          }
          #overview{
            width: 100%;
            height: 50px;

            .center{
              margin: 0 auto;
              width: 350px;

              img{
                cursor: pointer;
                margin-left:10px;
                max-height: 100%;
                width: 50px;
                height: 50px;
                opacity: .5;
                -webkit-transition: opacity 500ms linear;
                -moz-transition: opacity 500ms linear;
                -ms-transition: opacity 500ms linear;
                -o-transition: opacity 500ms linear;
              }
              .current{
                opacity: 1;
              }
            }
          }
        }

      }
      
      .bottom-right
      {
        width:100%;
        right: 20px;
        bottom: 15px;
        position: absolute;
        a{
          img{
            float:right;

            width: 175px;
            max-width: 30%;
          }
        }
      }



      .bottom-left
      {
        width:30%;
        bottom: 15px;
        position: absolute;
        a{
          img{
            float:left;
            max-width: 75%;
            max-width: 170px !important;
            width: 250px;
          }
        }
      }


    }
    #teaser{
      z-index: 999;
      width:100%;
      height:100%;
      #loader{
        display: none;
        position: absolute;
        margin-left:50px;
        margin-top:50px;
        img{
          width: 100px;
          height: 100px;
        }
      }
      #tryout_container{
        height: 70%;

        //padding:2px;

        #tryout{
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;

          text-align: left;
          height: 100%;
          // float: right;
          width: 100%;
          resize: none;
          // padding:9px;
          font-size:12pt;
          // background-color:white;
          // border:2px solid #000;
          span{
            margin:5px;
            width: auto;
            height: auto;
          }
        }
        #tryoutdiv{
          font-size:12pt !important;

          width: 100%;
          height: 100%;
          border-color: rgb(169, 169, 169);
          -webkit-appearance: textarea;
          background-color: white;
          border: 1px solid;
          border-image-source: initial;
          border-image-slice: initial;
          border-image-width: initial;
          border-image-outset: initial;
          border-image-repeat: initial;
          -webkit-rtl-ordering: logical;
          -webkit-user-select: text;
          flex-direction: column;
          cursor: auto;
          padding: 2px;
          //white-space: pre-wrap;
          //word-wrap: break-word;
          display: none;
        }

        #trybutton{
          width: 100%;
          // padding-left: 10px;
          // padding-right: 10px;
          margin-top: 10px;
          float: right;
          line-height: 50px;
          height: 50px;
          font-size:1.2em;
        }
      }
    }
  }

  .spell_err {
    color:#D63333;
    cursor:pointer;
    margin-right:5px;
    display:inline-block;
  }
  .grammar_err {
    color:#2E8A5C;
    cursor:pointer;
    margin-right:5px;
    display:inline-block;
  }
  .no_err{
    color:black !important;
    margin-right:5px;
    display:inline-block;
  }
  .flyout {
    // display: none;
    width: 250px;
    margin-top: 70px;
    font-size: 12px;
    position: relative;
    font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
    background-color: $grammaticalgreen;
    padding: 9px 11px;
    background: $grammaticalgreen;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    z-index: 991;
    p { 
      font-size: 14px;
      color: #FFF;
      line-height: 18px;
      text-align: left;
      padding: 5px;
    }
    span {
      background-image: url('../img/tip.png');
      background-repeat: no-repeat;
      background-size: auto;
      height: 11px;position: absolute;
      top: -11px;left: 50px;
      width: 20px;
    }
  }
  
  // mixins
  // scottnix.com/placement-of-media-queries/
  @mixin breakpoint($point) {
    @if $point == medium {
      @media (min-width: 30em)  { @content; }
    }
    @else if $point == large {
      @media (min-width: 50em) { @content; }
    }
    @else if $point { // allows custom breakpoints
      @media (min-width: $point) { @content; }
    }
  }

//   // variables
//   $background: $grammaticalblue;
//   $header-color: #FFF;
//   $body-color: #FFF;
//   $body-color-secondary: #06C3A5;
//   $accent-color: #FFF;

//   *,
//   *:before,
//   *:after {
//     // @include box-sizing(border-box);
//     // @include transition(color .3s ease-in-out, background .3s ease-in-out);
//   }
//   .promos {
//     width: 100%;
//     margin: 0 auto;
//   }

//   .price + h4 {
//     margin: 0;
//   }


//   .promo {

//     margin-bottom: 2em;
//     margin-right: 1em;
//     background: $background;
//     font-weight: 300; 
//     line-height: 1;
//     color: $header-color;
//     text-align: left;
//     cursor:pointer;
//     // border:2px solid #fff;
//     img {
//       z-index: 9999;
//     }

//     .price, h4 {
//       text-align: center;
//     }

//     @include breakpoint(40em) {
//       display: inline;
//       float: left;
//     }
//     h4 {
//       background-color: $grammaticalblue;
//       margin: .15em 0 0;
//       font-size: 2em;
//       font-weight: normal;
//     }
//      b {
//       color: $grammaticalgreen;
//     }

//     .features {
//       margin-top: 1em;
//       padding: 0;
//       list-style-type: none;
//       color: $body-color;
//       h4 {
//         padding: 20px;
//         font-size: 120%;
//         background-color: $grammaticalblue;
//         transition: 0.5s;
//       }
//     }
//     li {
//       padding: .05em 0;
//       margin-top: 5px;
//     }
//     .brief { 
//       color: $header-color;
//     }
//     .price {
//       margin: .25em 0;
//       padding: 5px 0;
//       background: $body-color-secondary;
//       font-size: 1.5em;
//       color: $header-color;

//     }



//     // .price:hover + li h4 {
//     //   transition: 0.5s;
//     //   background-color: $grammaticalblue;
//     //   border-radius: 10px;

//     // }

//     .buy {
//       margin: 1em 0 0;
//     }
//     button {
//       padding: 1em 3em;
//       border: none;
//       border-radius: 40px;
//       background: $body-color-secondary;
//       color: $header-color;
//       cursor: pointer;
//       &:hover {
//           background: darken($body-color-secondary, 1%);
//       }    
//     }
//   }

//   .scale {
//     button {
//       background: $accent-color;
//       &:hover {
//           background: darken($accent-color, 10%);
//       }
//     }

//     @include breakpoint(40em) {
//       transform: scale(1.2);
//       box-shadow: 0 0 4px 1px rgba(20, 20, 20, 0.8);
//       .price {
//           color: $accent-color;
//       }
//     }
//   }
}


/* for spellchecker */
.grammatical_popup {
  color:black;
  position:absolute;
  z-index: 999999;
  width: auto;
  margin-top: 10px;
  font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
  font-size: 14px;
  background-color: white;
  padding: 9px 11px;
  background-color: #fff;
  border: 1px solid #c5c5c5;
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.grammatical_popup span {
  background-image: url('../img/tip.png');
  background-repeat: no-repeat;
  background-size: auto;
  height: 11px;position: absolute;
  top: -11px;
  left: 10px;
  width: 20px;
}

.button{  
  background: $grammaticalblue;
  // min-width:200px;
  height: 40px;
  line-height: 40px;
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  color: #FFF;
  border-radius: 2px;
  border: none;
  
  transition:background .3s;
  -webkit-transition:background .3s;
  text-decoration: none;
  &:hover, &:active{
    background: $grammaticalgreen;
  }
}
