$grammaticalblue: #0083b4;
$grammaticalgreen: #06C3A5;
$gr: 0;
$gg: 131;
$gb: 180;

html{
  font-family: "Abel", sans-serif;
  font-weight: 200;
  width: 100%;
  height: 100%; 
}


body{
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color:$grammaticalblue;
}


*{margin:0;padding:0;}

#content {
  width: 100%;

  strong{
    font-weight: bold;
  }

  a {
    text-decoration: none;
  }

  #toplogo{
    top:0px;
    position: absolute;
    left:50%;
    margin-left:-159px;
    z-index: 999;

    .menu_link {
      margin-top:10px;
    }
    a{
      img{
        width:318px;
        height: 70px;  
      }
    }
  }

  #menu{
    height: 55px;
    top:0px;
    z-index: 998;
    background-color: #fff;
    position: absolute;
    width:100%;
    box-sizing: border-box;
    -webkit-box-shadow: 0 3px 10px -2px rgba(0,0,0,0.4);
    box-shadow: 0 3px 10px -2px rgba(0,0,0,0.4);

    #menu_logo{
      position: fixed;
      height: 55px;
      z-index: 999;
      line-height: 55px;
      padding-left:5px;

      .menu_link {
        height:45px;
        margin:5px;
        opacity: 1 !important;
      }
      span{
        // width:45px;
        // height:45px;
        font-size:45px;
        color:$grammaticalblue;
      }
    }
  }

  #resultwrapper{
    margin: 0 auto;
    margin-top: 150px !important;
    background-color: white;
    width: 65%;
    max-width: 750px;
    min-height: 200px;
    padding: 15px;
  }

  #result{
    cursor: text;
    width: 100%;
    height: 100%;
    min-height: 200px;
    line-height: 20pt;
    font-family: 'Nunito';
    font-size: 16pt;
    font-weight: Lighter;
    padding-bottom: 45px;
  }

  .angel{
    -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
  }

  .menu-button:hover, .menu-button:active{
    color: $grammaticalblue;
    font-weight: 700;
  }

  .button{  
    background-color: $grammaticalblue;
    // min-width:200px;
    width: 120px;
    float:right;
    cursor:pointer;
    height: 40px;
    line-height: 40px;
    font-size: 1.25em;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    color: #FFF;
    border-radius: 2px;
    border: none;
    margin-top: -40px;
    transition:background .3s;
    -webkit-transition:background .3s;
    text-decoration: none;
    &:hover, &:active{
      background: $grammaticalgreen;
    }
  }

  #counterwrapper{
    width: 120px;
    float: left;
    font-size: .85em;
    text-transform: uppercase;
    color: #000;
    margin-top: -13px;
  }
}
