@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-2crekn');
	src:url('fonts/icomoon.eot?#iefix-2crekn') format('embedded-opentype'),
		url('fonts/icomoon.woff?-2crekn') format('woff'),
		url('fonts/icomoon.ttf?-2crekn') format('truetype'),
		url('fonts/icomoon.svg?-2crekn#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.grammatical-font {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.grammatical-icon:before {
	content: "\e600";
}
