/* SPELLCHECKER */
.grammatical {
  cursor: default;
  background-repeat: repeat-x;
  background-position: bottom;
  padding-bottom: 1px;
  width:100%;
  white-space: pre-wrap;
  box-sizing: border-box;
  color:transparent !important;
}

.spell_err {
  background-image: url('../img/underline_spelling.png');
  background-repeat: repeat-x;
  background-position: center bottom; 
  cursor: pointer;
}

.grammar_err {
  background-image: url('../img/underline_grammar.png');
  background-repeat: repeat-x;
  background-position: center bottom; 
  cursor: pointer;
}

.grammatical_popup {
  position:absolute;
  z-index: 999999;
  width: auto;
  margin-top: 10px;
  font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
  font-size: 14px;
  background-color: white;
  padding: 9px 11px;
  background-color: #fff;
  border: 1px solid #c5c5c5;
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.grammatical_popup span {
  background-image: url('../img/tip.png');
  background-repeat: no-repeat;
  background-size: auto;
  height: 11px;position: absolute;
  top: -11px;
  left: 10px;
  width: 20px;
}

